body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.mainWrapper {
  margin: 0 auto;
  width: 100%;
}

.headerWrapper {
  width: 100%;
  border-bottom: solid 4px #D83F2F;
}

.headerContainer {
  padding: 15px 10px;  
}

.header {
  margin: 0 auto;
  max-width: 73.125em;
}

.header img {
  float: left;
}

.mainContainerWrapper {
  width: 100%;
  /*background-color: rgba(217, 64, 50, 0.05);*/
  background-color: #F1F1F3;
}

.mainContainer {
  padding: 30px 10px;  
}

.main {
  margin: 0 auto;
  max-width: 73.125em;
  min-height: 400px;
}

#lipifyMe {
  width: 100%;
  margin: 0 auto;
}

#transliterateThis, #nepali {
  width: 500px;
  height: 70px;
  display: block;
  margin: 30px auto;
  resize: none;
}

.footerWrapper {
  width: 100%;
  background-color: #111111;
}

.footerContainer {
  padding: 20px 10px;  
}

.footer {
  margin: 0 auto;
  max-width: 73.125em;
  color: #F1F1F3;  
}

.versions ul li {
  float: left;
  margin-right: 10px;
}

.versions ul li a {
  text-decoration: none;
  color: #F1F1F3;
  font-size: 14px;
}

.versions ul li a:hover {
  color: #828284;
}

